<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="PostStatus" verbose="1">
	
	<test name="HelloWorld">
		<parameter name="username" value="Username"></parameter>
		<parameter name="password" value="SuperSecretPassword!"></parameter>
		<classes>
			<class name="com.facebook.poststatus.PostStatusTest" />
		</classes>
	</test>
	
</suite>
